@model IEnumerable<PQGrid.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<h2 style="text-align:center; width:100%">PQGrid</h2>
<div id="grid_json">

</div>

@* For Pqgrid Integration *@

@section Scripts{
    <script src="https://unpkg.com/jquery@2.2.4/dist/jquery.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/eggplant/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <link href="~/css/pqgrid/pqgrid.min.css" rel="stylesheet" />
    <link href="~/css/pqgrid/pqgrid.css" rel="stylesheet" />
    <link href="~/css/pqgrid/pqgrid.dev.css" rel="stylesheet" />
    <link href="~/css/pqgrid/pqgridcustomize.css" rel="stylesheet" />

    <script src="~/js/pqgrid/pqgrid.min.js"></script>
    <script src="~/js/pqgrid/pqgrid.dev.js"></script>
    <script src="localize/pq-localize-xx.js"></script>
    <script src="~/js/pgrid.js"></script>


}
